<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="methods">
  <test name="Test">
    <classes>
      <class name="testngpackage.FirstNgClass">
	      <methods>
	      	<include name="firstMethod"></include>
	      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
